## Work Plan

### Open the data and study the general information

 - First, we would need to study the data and check the general information

In [1]:
import numpy as np
import pandas as pd

# matplotlib for visualization
import matplotlib.pyplot as plt
%matplotlib inline

# seaborn for statistical data visualization
import seaborn as sns

In [2]:
# read the data

try:
    contract_data = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Final Project/final_provider/contract.csv')
    internet_data = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Final Project/final_provider/internet.csv')
    personal_data = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Final Project/final_provider/personal.csv')
    phone_data = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Final Project/final_provider/phone.csv')
except:
    contract_data = pd.read_csv('https://code.s3.yandex.net/datasets/final_provider/contract.csv')
    internet_data = pd.read_csv('https://code.s3.yandex.net/datasets/final_provider/internet.csv')
    personal_data = pd.read_csv('https://code.s3.yandex.net/datasets/final_provider/personal.csv')
    phone_data = pd.read_csv('https://code.s3.yandex.net/datasets/final_provider/phone.csv')
print('Data has been read correctly!')

Data has been read correctly!

In [3]:
contract_data.head()

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65

In [4]:
internet_data.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

In [5]:
personal_data.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [6]:
phone_data.head()

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

- We would need to check for missing values in the data
- We would also describe the data
- If missing values exist, we would fill in the missing values using the mode of the columns where the data is missing
- We would check the data types and change data type if necessary

### Data Wrangling

- Target encoding will be applied to some of the features to change 'Yes' to 1 and 'No' to 0
- We would need to generate new features from the data
- We would be joining the data using the merge() function in pandas

### Data Visualization

We would need to visualize the data for example;
- We need the count of customers offered promotional code who still churned
- We will be plotting the distribution of the data
- We also will check for outliers in the data if any
- We can visualize the count of customers offered tech support who churned to know whether offering tech support has any effect on customer churn
- We can visulaize the gender of customers and determine if number of dependent has an effect on customer churn
- We can check whether `InternetService` offered has any effect on customer churn
- We can visualize the contract type to see whether customers with shorter contract churn faster than customers with year-long contracts

### Model training

Here, we would train different models. 
- We split the data into 80% training and 20% testing sets
- We use AUC-ROC as our primary metric and accuracy as the secondary metric to predict customer churn
- We apply encoding to categorical variables so they can be read by our machine learning models
- We scale the data by applying standard scaler function to the features
- We will use linear regresion model as our baseline model
- We train different tree based model and gradient boosting model
- We apply hyperparameter tuning to tune our different model and cross validation during sampling of data for machine learning
- We choose the best performing models on the training accuracy and AUC-ROC metric

### Model testing

- Using the best performing model, we evaluate on the test dataset
- The best performing model is one that has the best accuracy on the training set
- We plot a confusion matrix for the models performance on the test sets
- We determine the best model's accuracy on the test set

### Conclusion

- Based on chosen model, we can predict customer churn for Interconnect telecoms